/* Adicionar aqui toda a estilização criada para sua aplicação. */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: #000000;
}

:root {
    --tamanho-header: 80px;
    --tamanho-footer: 90px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - 40px);
}

/* Header */

.header {
    height: var(--tamanho-header);
    border-bottom: 2px solid #32b9cd;
}

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 500;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062;
}

.header a {
    text-decoration: none;
    color: #e3b062;
}

.agora {
    font-weight: 800;
}

/* Banner */

.banner {
    height: var(--tamanho-banner);
    color: #ffffff;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.banner .container span {
    font-weight: 800;
}

/* Missão, visão e valores */

.social {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    text-align: center;
}

.social .container .boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    width: 170px;
}

/* Footer */

.footer {
    background-color: #32b9cd;
    height: var(--tamanho-footer);
    color: #fff;
    display: flex;
    font-size: 15px;
}

.footer .container {
    justify-content: center;
    text-align: center;
}

.version {
    font-size: 12px;
}

/* Formulários - Login */

.login {
    height: var(--tamanho-login);
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 50%;
    margin: auto;
    background-color: #e5e5e5;
    padding: 20px 48px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.login .card h2 {
    color: #D46F8E;
    text-align: center;
    font-size: 32px;
    margin: 0;
}

.login .card .formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 16px;
}

.login .card .formulario .campo {
    display: flex;
    flex-direction: column;
}

.login .card .formulario .campo span {
    color: #D46F8E;
    font-weight: 600;
}

.login .card .formulario .campo input {
    padding: 8px;
    text-align: center;
    border: 2px solid #32b9cd;
    border-radius: 8px;
}

.login .formulario .botao {
    background-color: #F0125B;
    color: #ffffff;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: bold;
    align-self: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}